*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Unbounded', cursive;
  
}


body{
  background-color: rgb(205, 229, 255);
}

.menu{
  position: fixed;
  right: 8vw;
  display: block;
  text-align: right;
  padding: 5px;
  font-size: 16pt;
}

/* header */
header{
  background-image: url(https://cdn.glitch.global/0bb372e3-f332-4ff6-8b69-2909a57bcdd2/IMG_9199.JPG?v=1695058883341);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  display: flex;
  z-index: -1
}

h1{
  font-size: 40pt;
  padding-top: 8px;
}

h2{
  font-size: 22pt;
}

h3{
  padding-bottom: 8px;
  font-size: 24pt;
}

h4{
  font-weight: normal;
  padding-top: 12px;
  font-size: 20pt;
}

h5{
  font-size: 16pt;
  padding-top: 15px;
}

p{
  padding-top: 5px;
  font-size: 14pt;
}
main{
  margin-top: 95vh;
  background-color: white;
  padding: 5vw;
}
.head{
  color: white;
}

.welcome{
  padding:5dvw;
}

a{
  text-decoration: none;
  color: #ffffff;
}


img{
  height: 72vh;
  position: relative;
  top:2vh;
}


.blank{
height: 60px;
}

a:hover, #skill:hover, #summer:hover{
  color: grey;
}

.dog{
  height: 50vh;
  margin-bottom: 30px;
  margin-right: 10px;
}


.gallary{
  height: 25vh;
  margin-bottom: 30px;
  margin-right: 10px;
}
